[submodule "git-modules/zjw-templates"]
	path = git-modules/zjw-templates
	url = https://gitlab.com/zachary-wartell/zjw-templates.git
[submodule "git-modules/zxw-mvc"]
	path = git-modules/zxw-mvc
	url = https://gitlab.com/zachary-wartell/zxw-mvc.git
